html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  color: #212121
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: normal;
}
.header{
  display: flex;
  border-bottom: 1px solid #eee;
  height: 64px;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}
.site-content {
  max-width: 70%;
  margin: 0 auto;
}
.home-section {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .emoji-anne {
    font-size: 5rem;
    margin: 0;
  }
  .title {
    font-size: 2.75rem;
    margin-bottom: 0;
    // margin-bottom: 12px;
  }
  p {
    // margin-bottom: 12px;
  }
}
.posts-section {
  .post-preview {
    margin-bottom: 3rem;
    .heading {
      display: flex;
      align-items: baseline;
      h1 {
        font-size: 1.75rem;
        margin: 0;
      }
      p {
        margin-left: auto;
      }
    }
  }
}
