html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  color: #212121
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: normal;
}
.header{
  display: flex;
  border-bottom: 1px solid #eee;
  height: 64px;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}
.site-content {
  max-width: 70%;
  margin: 0 auto;
}
.home-section {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .emoji-anne {
    font-size: 5rem;
    margin: 0;
  }
  .title {
    font-size: 2.75rem;
    margin-bottom: 0;
    // margin-bottom: 12px;
  }
  p {
    // margin-bottom: 12px;
  }
}
.posts-section {
  .post-preview {
    margin-bottom: 3rem;
    .heading {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      h1 {
        font-size: 1.75rem;
        margin: 0;
      }
      p {
        font-size: 0.8rem;
        margin-left: auto;
        background: #eee;
        border-radius: 3px;
        color: #999;
        height: 26px;
        line-height: 26px;
        padding: 0 20px 0 23px;
        position: relative;
        margin-bottom: 0;
        &:before {
          background: #fff;
          border-radius: 10px;
          box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
          content: '';
          height: 8px;
          left: 9px;
          position: absolute;
          width: 8px;
          top: 9px;
        }
        &:after {
          background: #fff;
          border-bottom: 13px solid transparent;
          border-left: 10px solid #eee;
          border-top: 13px solid transparent;
          content: '';
          position: absolute;
          right: 0;
          top: 0;
        }
        }
      @media screen and (max-width: 768px) {
        h1 {
          width: 100%;
        }
        p {
          margin-left: 0;
          margin-right: auto;
        }
      }
    }
  }
}
.footer {
  text-align: center;
  padding: 20px;
  font-size: 0.8rem;
}
